In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data/twitter/twcs/twcs.csv")

In [5]:
dfi = df[df["inbound"]==True][["text"]]

In [8]:
dfi.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
6,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN
8,12,115713,True,Tue Oct 31 22:04:47 +0000 2017,@sprintcare You gonna magically change your co...,"11,13,14",15.0

In [9]:
import sqlite3
with sqlite3.connect("hand-labeled-data.db") as conn:
    conn.execute("CREATE VIRTUAL TABLE data USING FTS5 (text, rating)")

In [17]:
lb = pd.DataFrame(dfi["text"])
import numpy as np
lb["label"] = np.nan

                                                text  label
1      @sprintcare and how do you propose we do that    NaN
2  @sprintcare I have sent several private messag...    NaN
4                                 @sprintcare I did.    NaN
6          @sprintcare is the worst customer service    NaN
8  @sprintcare You gonna magically change your co...    NaN

In [27]:
def upload_chunks(chunk):
    with sqlite3.connect("hand-labeled-data.db") as conn:
        conn.executemany("INSERT INTO data VALUES (?,?)", chunk)

In [31]:
lb[i*50_000:i+1*50_000].values[0]

array(['@sprintcare and how do you propose we do that', nan], dtype=object)

In [32]:
for i in range(30):
    upload_chunks(lb[i*50_000:i+1*50_000].values)

29

In [45]:
with sqlite3.connect("hand-labeled-data.db") as conn:
    c = conn.execute("SELECT text,rowid,rating FROM data WHERE data MATCH 'terrible' LIMIT 50").fetchall()
    c = list(c)

In [46]:
c

[('@AdobeCare you guys have been saying that for weeks now. your product went from being great to now unable to work and terrible. very disappointed.',
  99,
  None),
 ('@VerizonSupport ever since I upgraded to Ulimited Data, my LTE speeds are TERRIBLE ðŸ˜¡ Is there a fix?!',
  463,
  None),
 ('@115993 are you kidding me with this customer service! Itâ€™s terrible.',
  469,
  None),
 ('@ArgosHelpers Terrible delivery service even worse paying extra for a time slot #3hourslate',
  562,
  None),
 ('Just so @Morrisons know, orange donuts were a TERRIBLE idea.', 566, None),
 ('@116090 Saying I preordered to early, terrible customer service. Wonâ€™t renew prime if this isnâ€™t fixed.',
  618,
  None),
 ('Adobe Lightroom is terrible since updating to CC Classic ! Sony A9 file takes 15sec to load full preview .... #lightroomcc ðŸ¤¬ https://t.co/gZApJ1z9zn',
  879,
  None),
 ('@British_Airways I have had enough of this terrible customer service, k airw do not reply to my requests for update. I paid b airways, you delayed the flight',
  1655,
  None),
 ('Having a terrible time getting @115877 to move charges to a correct credit card. 10+ emails deep and have to keep explaining. Help!',
  2000,
  None),
 ('@116057 Canâ€™t reach cust service to report TERRIBLE experience- Hair in food and no way to get $ back https://t.co/DVuLDHBN2V',
  2337,
  None),
 ('@115821 So for the 4th time the package I ordered was tossed onto my property instead of being left on my front porch. It was raining. Package wet. Iâ€™ve complained repeatedly to no avail. Since Amazon switched from USPS to local delivery Svc the SERVICE is terrible.',
  2561,
  None),
 ('@SouthwestAir Also how terrible is it that almost every single flight in this terminal is delayed???? Guess you get what you pay for.',
  2599,
  None),
 ("@Uber_Support It's not you guys. It's @117115 @McDonalds only! They have terrible #customerservice and I am tired of it. #sadface #iloveuber",
  3448,
  None),
 ('@TMobileHelp That was a terrible 2 hr customer service experience, was transferred internally to an expired #, 6 transfers 2 dropped calls.',
  3504,
  None),
 ('@696 So I guess your Twitter account isnâ€™t anymore helpful to customers than email or your 800#. Terrible service.',
  3654,
  None),
 ('Hey @AskLyft and @Uber_Support your drivers are absolutely terrible around cyclists and pedestrians - plz provide training! #vulnerable',
  5419,
  None),
 ('@115777 I signed up for a monthly membership under the impression I would be billed monthly. You guys deceitfully tied me down to a yearly contract without any warnings, emails or notification in general. Now when I go to cancel you guys charge 60% of my yearly balance.. Terrible',
  5496,
  None),
 ('@CoxHelp your internet is continuously down in my area "85035". Paying around $100 each bill for terrible service',
  5713,
  None),
 ('@115821 logistics doing a laughably terrible job of delivering my package. Anyone else noticing a serious dip in customer service?',
  5768,
  None),
 ('@116076 Iâ€™m so pissed about the terrible customer service I just got from Darrell because my pizza says delivered and it wasnâ€™t',
  6778,
  None),
 ('@CoxHelp Everywhere but itâ€™s terrible in the bedroom. I have to shut off WiFi just to message you! Will Cox pay for my data overages!',
  6908,
  None),
 ('@CoxHelp 100 I think. We were at 50. Maybe we are talking the same thing. Just terrible internet',
  6909,
  None),
 ('.@115911, your coverage could be a whole lot better. This is terrible. Come on... https://t.co/sPD1NztSos',
  7077,
  None),
 ('@115900 .. terrible.. worst service ever', 7226, None),
 ('@119846 @CoxHelp @119847 This is terrible PR for cox if they wont even help a streamer out.',
  7275,
  None),
 ('@DoorDash_Help .@doordash_help .@116584 No one has emailed me as promised. Worst experience then customer service is terrible. #doordash @120026',
  7599,
  None),
 ('@115911 @TMobileHelp terrible customer service. 3 dysfunctional refurbished phones in 2 weeks. @115913 #badservice',
  7667,
  None),
 ('@British_Airways terrible service today. And awful cancellation policy on domestic flights 2 months away - just tax back. Customer lost. https://t.co/AxwLdxbFpJ',
  7687,
  None),
 ('@116021 What is with the absolutely catastrophic service cox gives.Outages with server,email,streaming problems and denial.Terrible service',
  7715,
  None),
 ('@119002 @115900 the World Series feed is super choppy.  So much for premium HD.  Terrible.....',
  7930,
  None),
 ('Hey @115955 ,our WiFi is still down. Fix this please! Youâ€™re making me actually miss TWC and their service was terrible!',
  8164,
  None),
 ("@115877 keeps getting my order wrong and there is no number to call customer service? #terrible I won't use this service again.",
  8276,
  None),
 ('@Ask_Spectrum your service is terrible. Itâ€™s been going out at 12:30am all the time. Maintenance shouldnâ€™t be this frequent! Iâ€™m switching.',
  8313,
  None),
 ('@GloCare hi ur network here is terrible. One cannot access d net nor call. Pls can somthn b done ASAP?',
  8535,
  None),
 ('@British_Airways just landed from NYC had pre booked GF meal attendants had no meal they just shrugged No food avail 7hr terrible service#BA',
  8653,
  None),
 ("@O2 please can I have the complaints email address? 6 weeks of terrible signal in London, I've had better service in the Scottish highlands",
  8707,
  None),
 ('getting sick of the terrible customer service @116245 are providing lately.',
  9415,
  None),
 ('Good morning @115821 - Day 4 of terrible customer service continues I guess\n\nRead: https://t.co/x4SJJe9gzc',
  9582,
  None),
 ('@AppleSupport you guys are terrible back in October you said youâ€™d send me something so I could send in my AirPods for repair since they didnâ€™t work when I bought them. You never sent them to me at fort sill. Thanks!',
  9810,
  None),
 ('@GWRHelp claim for refund for cancelled train end Aug still no answer from you. Terrible service',
  9898,
  None),
 ('@O2 terrible network and customer service team. They do not have a clue what they saying or do for customers',
  9995,
  None),
 ("@applesupport Bluetooth connection iPhone X to Infiniti is terrible. Garbled and scratchy cutting in and out &gt;30% of time. Didn't happen W iPhone 6!!",
  10726,
  None),
 ('Ugh. Almost everything I ordered from #HearthAndHand from @834 is broken. Whoever does their shipping is terrible.',
  10892,
  None),
 ('Terrible @115873 trip this morning. Get drivers who know where they are going! I want a full refund for not getting me to my location.',
  11016,
  None),
 ('@HPSupport How do you disable popups in 4520 - been trying for an hour, ready to return this thing and post terrible Amazon review. Please help!',
  11107,
  None),
 ('@sprintcare @121773 One thing yall can do it outpay  Verizon for the rights to play free NFL games. Iâ€™d be thankful\n\nLove,\nA sprint customer w/ terrible service',
  11215,
  None),
 ('@Americanair #theDMVoftheair\nTerrible customer service on the ground and in the air. Save yourself the pain and fly just about anyone else',
  11218,
  None),
 ('@Ask_Spectrum Terrible service. Talked to four people before I made them understand. You all need a lesson in service.',
  11300,
  None),
 ('@sainsburys terrible #Customerservice.Refused to correct incompetent error.Considerable time wasted after 2 misdeliveries of Sainsburys wine',
  11749,
  None),
 ('"Food is good, wait time terrible. Had to wait over 30 minutes for a bowl of soup and salad." #FoursquareFind @116253 https://t.co/kfFiX196VE https://t.co/xl1SXITHQ6',
  11796,
  None)]